<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Groups - {{ university.name }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .card:hover {
            transform: scale(1.03);
            transition: 0.3s;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h2 class="mb-4">{{ university.name }} - Guruhlar</h2>

    <div class="row">
        {% for group in groups %}
        <div class="col-md-4 mb-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">{{ group.name }}</h5>
                    <a href="{% url 'students_list' group.id %}" class="btn btn-primary btn-sm">O'quvchilar</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <a href="{% url 'universities_list' %}" class="btn btn-secondary mt-3">Back</a>
</div>
</body>
</html>
